[submodule "vim/vim/bundle/base16"]
	path = vim/vim/bundle/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/vim/bundle/solarized"]
	path = vim/vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/ctrlp"]
	path = vim/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/markdown"]
	path = vim/vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/symfony"]
	path = vim/vim/bundle/symfony
	url = https://github.com/docteurklein/vim-symfony.git
[submodule "vim/vim/bundle/ack.vim"]
	path = vim/vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/vim-php-namespace"]
	path = vim/vim/bundle/vim-php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace.git
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/vim-git-log"]
	path = vim/vim/bundle/vim-git-log
	url = https://github.com/kablamo/vim-git-log
[submodule "vim/vim/bundle/visual-increment"]
	path = vim/vim/bundle/visual-increment
	url = https://github.com/vim-scripts/visual-increment
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim/bundle/vim-gitgutter"]
	path = vim/vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/vim/bundle/vim-abolish"]
	path = vim/vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/vim/bundle/vim-behat"]
	path = vim/vim/bundle/vim-behat
	url = git://github.com/veloce/vim-behat.git
[submodule "vim/vim/bundle/vim-twig"]
	path = vim/vim/bundle/vim-twig
	url = https://github.com/beyondwords/vim-twig.git
[submodule "vim/vim/bundle/vim-php-cs-fixer"]
	path = vim/vim/bundle/vim-php-cs-fixer
	url = git@github.com:stephpy/vim-php-cs-fixer.git
[submodule "vim/vim/bundle/neocomplete.vim"]
	path = vim/vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/vim/bundle/vim-repeat"]
	path = vim/vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim/bundle/vim-commentary"]
	path = vim/vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vim/bundle/tagbar"]
	path = vim/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/vim/bundle/phpcomplete.vim"]
	path = vim/vim/bundle/phpcomplete.vim
	url = git@github.com:shawncplus/phpcomplete.vim.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/vim/bundle/vim-jsbeautify"]
	path = vim/vim/bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify
